/* CSS DOCUMENT */
html, body { height:100%; min-height:100%; min-width: 1100px; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)); }
.loader { position:relative; overflow:hidden; background:#fff url('../images/loading.gif') no-repeat center; }
.auto { width:$maxWidth; margin: 0 auto; }
* { @include box-sizing(border-box); }

/********* Page Template *********/
#main-container { 
	height:100%; 
	height: auto !important; 
	min-height:100%;
	position: relative;
	overflow: hidden;
}

body {
	background: $coGreen;
}


.jq-section {
	background: $coWhite;
}

header {
	background: rgba($coWhite, 0.9);
	width: 100%;
	position: fixed;
	z-index: 9999;
	-webkit-backface-visibility: hidden;
	height: 62px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);

	.logo {
		display: none;
	}
}

.parallax-mirror {
	-webkit-backface-visibility: hidden !important;
	visibility: hidden;
}

.menu {
	float: right;
	text-align: right;

	ul {

		li {
			
			float: left;
			position: relative;

			&:before {
				content:'';
				display: block;
				bottom: 0px;
				width: 100%;
				position: absolute;
				height: 2px;
				background: $coBlue;
				opacity: 1;
				opacity: 0;
				@include transition(all, 0.3s, cubic-bezier(0.645, 0.045, 0.355, 1));
				@include transform(scale(0));
			}
			

			&:first-child {
				padding-left: 0;
			}

			a {
				display: block;
				color: $coBlue;
				position: relative;
				padding: 20px 15px;
			}

			&.active {

				&:before {
					@include transform(scale(1));
					bottom: 0px;
					opacity: 1;
				}
			}
		}
	}
}

#main-wrapper {}
.fl { float:left; }
.fr { float:right; }
.clr { float:none; clear:both; }

.bp-set { display:inline-block; *display:inline; }
.bp-set.vm { vertical-align:middle; }
.bp-set.vt { vertical-align:top; }
.bp-set.vb { vertical-align:bottom; }
.bp-box { box-sizing:border-box; }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }

footer {}

.preloader { position:fixed; width:100%; height:100%; overflow:hidden; z-index: 999; }
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; @include animation(rotatee 2.0s infinite linear); }
.s-dot { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:$coBlue; @include border-radius(100%); @include animation(bouncee 2.0s infinite ease-in-out); }
.s-dot2 { top: auto; bottom: 0px; @include animation-delay( -1.0s); }
@include keyframes(rotatee) { 100% { @include transform(rotate(360deg)); } }
@include keyframes(bouncee) { 0%, 100% { @include transform(scale(0.0)); } 50% { @include transform(scale(1.0)); } }
.lt-ie9 .preloader { background:#fff url('../images/loading.gif') no-repeat center; }
.lt-ie9 .preloader .spinner { display:none; }
/********* END Page Template *********/

.visible {
	opacity: 1;
}

.hiding {
	opacity: 0;
}

.null-padding-right {
	padding-right: 0;
}

.null-padding-left {
	padding-left: 0;
}

.bg-blue {
	background: $bgBlue;
}

.bg-green {
	background: $bgGreen;
}

.co-blue {
	color: $coBlue;
}

.btn {
	padding: 10px 50px;
	color: $coWhite;
	display: inline-block;
	font-weight: bold;
	border-radius: 0;
	font-size: 20px;
	margin: 20px 0;
	text-align: center;
	position: relative;
	border: 2px solid transparent;
	right: 0;	
	cursor: pointer;

	&.btn-green {
		background: $bgGreen;


		&:hover {
			background: rgba($coGreen, 0.2);
			color: $coGreen;
			border: 2px solid $coGreen;
		}
	}

	&.btn-white {
		background: transparent;
		border: 2px solid $coWhite;

		&:hover {
			background: rgba($coWhite, 0.4);
		}
	}

	&.btn-blue {
		background: $bgBlue;

		&:hover {
			background: rgba($coWhite, 0.4);
		}
	}

	&.btn-orange {
		background: $bgDarkOrange;
		color: $coWhite;

		&:hover {
			background: rgba($coOrange, 0.4);
			color: $coOrange;
			border: 2px solid $coOrange;

		}
	}

	&.btn-block {
		display: block;
	}

	&.btn-signup {
		
		margin: 20px auto;
		max-width: 300px;
	}
}

#ui-datepicker-div {
	position: absolute;
	z-index: 9999 !important;
}

/*** WAVE EFFECT ***/
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  @include transition(all, 0.2s, cubic-bezier(0.645, 0.045, 0.355, 1));
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.btn-white .waves-ripple {
  background-color: rgba($coWhite, 0.7);
}

.waves-effect.btn-orange .waves-ripple {
  background-color: rgba($coOrange, 0.7);
}

.waves-effect.btn-green .waves-ripple {
  background-color: rgba($coGreen, 0.7);
}

.menu .waves-effect .waves-ripple {
  background-color: rgba($coBlue, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
  color: $coWhite;

}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}




.btn-apply {
	max-width: 180px;
	padding: 10px 40px;

}

.section-pad {
	padding: 40px 0;
	position: relative;
}


.sec-title {
	color: $coBlue;
	font-size: 60px;
	line-height: 68px;
	margin-bottom: 25px;

}

.table-wrap {
	position: absolute;
	height: 100%;
	display: table;
	width: 100%;
	top: 0;
	left: 0;

	.table-content {
		display: table-cell;
		vertical-align: middle;
		height: 100%;

	}
}

.signup-fb {
	margin: 10px auto;
	text-align: center;
	max-width: 301px;

	a {
		display: block;
		width: 100%;
		border: none;
		background: #39579b;
		padding: 5px 5px;
		height: 50px;
		vertical-align: middle;

		&:hover {
			.fa {
				color: $coWhite;
			}

			span {
				border-left: 1px solid $coWhite;
			}
		}
	}

	.fa {
		color: #1e2e52;
		font-size: 34px;
		vertical-align: middle;
		padding: 0px 15px 0px 15px;
		position: relative;
		top: 2px;
		@include transition(all, 0.5s, cubic-bezier(0.645, 0.045, 0.355, 1));
	}

	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 40px;
		padding: 0px 26px;
		border-left: 1px solid #1e2e52;
		font-size: 18px;
		color: $coWhite;
		@include transition(all, 0.5s, cubic-bezier(0.645, 0.045, 0.355, 1));
	}
}

.form-text {
	position: relative;
	text-align: center;
	color: $coWhite;
	padding-bottom: 10px;
	margin-bottom: 10px;

	&:before {
		content:'';
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -5px;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $bgWhite;
	}
}

.form-row {
	margin: 0 -5px;
}

.ui-datepicker-prev, .ui-datepicker-next {
	display: none;
}

.input-wrap {
	position: relative;
	margin-bottom: 10px;
	padding: 0px 5px;
	width: 100%;

	&.input-half {
		width: 50%;
		float: left;
	}

	&.btn-wrapper {
		margin-bottom: 0;
	}

	&.error {

		input[type="text"], input[type="email"] {
			border: 1px solid red;
		}

		.required-tooltip {
			
			opacity: 1;

			&.left, &.right {
				@include transform(translateX(0));
			}
		}
	}

	input[type="text"], input[type="email"] {
		height: 40px;
		padding: 5px 8px 0px 8px;
		width: 100%;
		border: 1px solid transparent;
	}

	input[value=""] + label, input[value=""] + label {
	    color: #999;
	    position: absolute;
	    left: 13px; /* the negative of the input width */
	    font-size: 16px;
	    bottom: 5px;
	    cursor: text;
	    color: $coGrey;
	}

	input[required] + label:after {
	    content:'*';
	    color: red;
	    margin-left: 5px;
	}

	/* show the placeholder when input has no content (no content = invalid) */
	

	/* hide the placeholder when input has some text typed in */
	input[required]:valid + label, input[required]:focus + label, input:not([value=""]) + label{
	    display: none;
	}
}


.custom-select-wrapper { 
	display: block; 
	position: relative; 
	height: 39px; 
	background: $bgWhite;  
	box-sizing: border-box; 
	border: 1px solid transparent;

	.error & {
		border: 1px solid red;
	}

	&:after {
		content:'';
		position: absolute;
		top: 50%;
		right: 10px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid #a7a9ac;
		margin-top: -4px;
	}
}
.custom-select-wrapper .custom-select-display { 
	display: block; 
	height: 37px; 
	margin-right: 25px; 
	color: $coGrey; 
	overflow: hidden; 
	padding: 11px 8px 0px 8px; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.custom-select-wrapper select { 
	-webkit-appearance: none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	filter: alpha(opacity=0); 
	opacity: 0; 
	z-index: 1; 
	cursor: pointer;
}

.custom-radio {
	display: inline-block;
	margin-left: 7px;

	input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + label {
	    color: $coWhite;
	    font-weight: bold;
	    width: auto;
	    display: inline-block;
	    vertical-align: middle;

	}
	input[type="radio"] + label span {
	    display:inline-block;
	    width:16px;
	    height:16px;
	    margin:-3px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    -moz-border-radius:  50%;
	    border-radius:  50%;
	    position: relative;
	    


	    &:before {
	     	content:'';
	     	width: 10px;
	     	height: 10px;
	     	position: absolute;
	     	top: 50%;
	     	left: 50%;
	     	opacity: 0;
	     	margin-left: -5px;
	     	margin-top: -5px;
	     	background-color:$coOrange;
	     	@include border-radius(50%);
	     	@include transition(all, 0.3s, linear);
	     }
	}

	input[type="radio"] + label span {
	     background-color:$coWhite;
	}

	input[type="radio"]:checked + label span{
	    
	    &:before {
	    	opacity: 1;
	    }
	    
	}

	input[type="radio"] + label span,
	input[type="radio"]:checked + label span {
		opacity: 1;

	}
}

.choose-currency {
	label {
		color: $coWhite;
		width: 50%;
		display: inline-block;
	}
}

.banner-text {
	position: relative;
	-webkit-backface-visibility: hidden;
}


.wing-form-wrap {
	max-width: 321px;
	position: absolute;
	right: 15px;
	padding: 15px 10px;
	background: rgba($coBlue, 0.8);
	top: -300px;
	z-index: 9;
	-webkit-backface-visibility: hidden;

	&:before {
		content:'';
		width: 100%;
		height: 100%;
		background: rgba($coWhite, 0.6);
		position: absolute;
		@include transition(all, 0.5s, cubic-bezier(0.645, 0.045, 0.355, 1));
		opacity: 0;
		@include transform(scale(0));
		top: 0;
		left: 0;
		z-index: 9;
	}

	&.overlay {
		&:before {
			opacity: 1;
			@include transform(scale(1));
		}
	}

	h3 {
		color: $coYellow;
		margin-bottom: 10px;
	}

	p {
		color: $coWhite;
	}

	.btn-orange {
		margin: 5px 0;
	}

	hr {
		border: none;
		border-bottom: 1px solid $coWhite;
		margin: 0px 5px 8px;
	}

	.required-tooltip {
		position: absolute;
		top: -4px;
		background: $coWhite;
		border-radius: 8px;
		padding: 8px;
		min-width: 120px;
		@include transition(all, 0.3s, cubic-bezier(0.645, 0.045, 0.355, 1));
		opacity: 0;

		
		p {
			font-size: 12px;
			color: $coGrey;

			span {
				color: red;
				display: inline-block;
			}
		}


		&:before {
			

		}


		&.left {
			right: 100%;
			margin-right: 10px;
			box-shadow: inset 1px 1px 5px rgba($coBlack, 0.2);
			@include transform(translateX(-30px));

			&:before {
				content: '';
				position: absolute;
			    top: 50%;
			    margin-top: -8px;
				right: -6px;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-left: 8px solid $coWhite;
				border-bottom: 8px solid transparent;
			}
		}

		&.right {
			left: 100%;
			margin-left: 10px;
			box-shadow: inset -1px -1px 5px rgba($coBlack, 0.2);
			@include transform(translateX(30px));

			&:before {
				left: -6px;
				content:'';
				width: 0;
				position: absolute;
			    top: 50%;
			    margin-top: -8px;
			    height: 0;
			    border-top: 8px solid transparent;
			    border-right: 8px solid $coWhite;
			    border-bottom: 8px solid transparent;
			}
		}
	}
}

.banner-wrap {
	height: 650px;
	position: relative;
	overflow: visible;
	width: 100%;
	z-index: 77;

	&.jq-section {
		background: transparent;
	}

	.container {
		position: relative;
	}

	.parallax-window {
		height: 650px;
	    background: transparent;
	    position: relative;
	    width: 100%;
	}

	h1 {
		color: $coWhite;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		margin-top: 60px;

		span {
			display: inline-block;
			line-height: 54px;
			padding: 0px 5px;
			background: rgba(0, 174, 239, 0.40);
		}
	}

}

.features {
	color: $coWhite;
	position: relative;
	z-index: 88;

	.sec-title {
		color: $coWhite;
	}

	.container {
		position: relative;
	}

	.feature-tag {
		padding-right: 140px;
	}

	ul {
		margin: 30px 0;
		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}
		li {
			width: 50%;
			float: left;
			padding-left: 36px;
			padding-bottom: 8px;
			position: relative;

			&:before {
				content:'';
				display: block;
				width: 26px;
				height: 24px;
				position: absolute;
				top: 2px;
				left: 0;
				background: url('../images/icon-wing.png') no-repeat center center;
			}

			a {
				color: $coGrey;
				font-size: 20px;
			}
		}
	}
}

.wing-account {

	&.section-pad {
		padding-top: 100px;
	}
}

.wing-benifits-img {
	width: 161px;
	height: 161px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin: 0 auto 30px;
	border: 2px solid #ccc;

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.wing-benifits {

	ul {
		text-align: center;
		padding-top: 60px;

		li {
			display: inline-block;
			text-align: center;
			width: 32%;
			vertical-align: top;
			padding-bottom: 30px;
		}
	}
}

.wing-benifits-info {

	padding: 0px 30px;

	h3 {
		margin-bottom: 23px;
	}

	p {
		padding: 0px 10%;
	}
}

.enjoy-discount {
	position: relative;
	overflow: hidden;

	.container {
		padding: 110px 0 80px;
		position: relative;
	}

	h2 {
		margin-bottom: 40px;
	}

	.ed-text {
		position: relative;
		z-index: 2;
		padding-right: 60px;
	}

	.sec-title {
		color: $coWhite;
	}

	p {
		color: $coWhite;
	}
}

.dis-model {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
	margin-right: -110px;
}

.sec-tagline {
	max-width: 580px;
	margin: 0 auto;
	padding: 30px 15px;

}

.pay-online-partners {
	padding: 50px 0;
	max-width: 670px;
	margin: 0 auto;

	h3 {

		margin-bottom: 30px;
	}

	ul {

		li {
			vertical-align: middle;
			display: inline-block;

			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.dis-model {
	max-width: 100%;
	height: auto;

}

#store-partners {
	position: relative;
	overflow: hidden;

	.container {
		max-width: 1270px;
	}
}

.store-partners {

	padding-bottom: 50px;
}

.item-store {

	width: 100%;

	.itemstore-img {
		width: 97px;
		height: 97px;
		border-radius: 50%;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		-webkit-backface-visibility:hidden;
		-webkit-transform:translateZ(0) scale(1, 1);

		img {
			width: 100%;
			height: auto;
		}
	}

	.itemstore-text {
		padding-top: 15px;

		p {
			font-weight: bold;
			color: $coBlack;
			text-align: center;
		}
	}

}

.owl-carousel .owl-stage-outer {

	.owl-stage {
		padding: 30px 0;
		-webkit-transition: all, 0.3s, linear;
		-moz-transition: all, 0.3s, linear;
		transition: all, 0.3s, linear;
	}
}

.owl-controls {
	@include transition(all, 0.3s, ease);

	.owl-prev {
		position: absolute;
		left: -40px;
		top: 55px;
		display: block;
		text-align: center;
		width: 0;
		height: 0;
		border-top: 23px solid transparent;
		border-right: 25px solid #e6e7e8;
		border-bottom: 23px solid transparent;
		text-indent: -9999999px;


		&:before {
			content:'';
			
		}

	}

	.owl-next {
		position: absolute;
		right: -40px;
		top: 55px;
		display: block;
		text-align: center;
		width: 0;
		height: 0;
		border-top: 23px solid transparent;
		border-left: 25px solid #e6e7e8;
		border-bottom: 23px solid transparent;
		text-indent: 9999px;

	}

	.owl-dots {
		margin: 10px 0;
		text-align: center;


		.owl-dot {
			width: 11px;
			height: 11px;
			display: inline-block;
			margin: 0px 3px;
			background-color: rgba($coGrey, 0.7);
			background: rgba(0, 0, 0, 0.5);
			cursor: pointer;
			text-indent: -9999px;
			-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
			-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
			box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			display: none;

			&:hover {
				background: #333;
				background-color: rgba($coGrey, 0.7);
			}

			&.active {
				background: #000;
				background: rgba($coBlue, 1);
				cursor: default;
			}
		}
	}
}

.pay-bills {
	border-top: 2px solid #dedfe0;
	min-height: 600px;
	background: $coWhite url('../images/paybills-bg.jpg') no-repeat bottom left;
	border-bottom: 14px solid $coBlue;
}

.pay-bill-info {
	margin-top: 200px;

	&:after {
		content:'';
		display: block;
		float: none;
		clear: both;
	}
}

.wing-ket-wrap {
	padding: 30px 0 20px;

	.sec-title {
		color: $coWhite;

	}

	p {
		color: $coWhite;
	}
}

.wing-ket-img {
	text-align: right;

	img {
		display: inline-block;
		max-width: 100%;

	}
}

.apply-now-sec {
	padding-bottom: 0;

	.sec-title {
		margin-bottom: 0;
	}

	.btn-apply {
		position: absolute;
		left: 50%;
		margin-left: -90px;
		margin-top: 65px;
		z-index: 9;
	}
}

.apply-img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}

.wing-mobile-menu {

	margin-top: 30px;

	ul {

		border-bottom: 1px solid #d3d4d6;

		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}

		li {
			width: 25%;
			float: left;
			position: relative;

			&:after {
				content:'';
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				width: 0;
				height: 0;
				border-left: 25px solid transparent;
				border-right: 25px solid transparent;
				border-top: 25px solid $bgBlue;
				@include transition(all, 0.4s, cubic-bezier(0.68, -0.55, 0.265, 1.55));
				z-index: 1;
				opacity: 0;
			}

			&.active {

				&:after {
					opacity: 1;
					margin-top: -10px;
				}
			}


			a {
				font-size: 25px;
				color: $coGrey;
				display: block;
				text-align: center;
				padding-bottom: 16px;
				background: $bgWhite;
				position: relative;
				z-index: 9;

				&:hover {
					color: #009ada;
				}

			}
		}
	}
}

.wm-tabs {
	margin: 35px auto;
	max-width: 800px;

	h4 {
		color: $coGreen;
		margin-bottom: 20px;

		span {
			display: block;
		}
	}

	ul {
		padding-left: 15px;
		margin: 15px 0;

		li {

			list-style-type: decimal;
		}
	}

	em {
		color: #6d6e71;
	}
}

.wm-content {
	display: none;

	&.is-opened {
		display: block;
	}
}

.apply-now-sec {
	.btn.btn-orange {

		&:hover {
			background: rgba($coOrange, 1);
			color: $coWhite;
			border: 2px solid transparent;
		}
	}
}

.footer-top {
	color: $coWhite;

	.btn.btn-orange {

		&:hover {
			background: rgba($coOrange, 1);
			color: $coWhite;
			border: 2px solid transparent;
		}
	}
}

.logo-bot {
	display: inline-block;
	margin-top: 30px;
}


.footer-bottom {
	padding: 20px 0;
}

.share-this-wrap {

	label {
		font-size: 30px;
		color: $coWhite;
		font-weight: bold;
		margin-right: 10px;
	}

	a {
		width: 63px;
		height: 63px;
		display: inline-block;
		border-radius: 50%;
		text-align: center;
		font-size: 30px;
		color: $coWhite;
		border: 2px solid $coWhite;
		line-height: 63px;
		margin: 0px 5px;
	}
}


.email-link {
	display: inline-block;
	vertical-align: middle;
	color: $coWhite;
	margin: 15px 0;
	font-size: 20px;
	text-align: right;
	font-weight: bold;

	span {
		margin-right: 8px;
	}
}

.final-step-form {

	.input-wrap {
		max-width: 450px;
		margin: 0 auto 30px;

		input[type="text"] {
			background: #a7a9ac;
		}
	}
}

.final-step-wrap {
	min-height: 305px;
}


.thank-you-page {

	header {
		position: relative;
		background: url('../images/thankyou-banner.jpg') no-repeat center center;
		background-size: cover;
		padding: 8px 0;
	}

	.final-step {
		
	}
}

.ty-text {
	padding-top: 30px;
	display: none;

	h2 {
		color: $coGreen;
		font-size: 60px;
		line-height: 68px;
	}
}

.other-stuff {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 2px dashed #8c8d8e;
}

.stuff-col {
	margin-top: 30px;
}

.stuff-wrap {

	h5 {
		margin-bottom: 6px;
	}

	img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	&:after {
		content:'';
		display: block;
		float: none;
		clear: both;
	}

	.left {
		width: 50%;
	}

	.right {
		width: 50%;
	}

	.btn {
	    padding: 6px 24px;
	    font-size: 16px;
	    margin: 15px 0;
	}
}

.middle-user {
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}

.s-card-holder {
	padding: 7px;
	background: $coGreen;
	@include border-radius(6px);
	position: relative;

	img {
		width: 100%;
		height: auto;

	}
}

.mainsite-links {
	margin-top: 8px;

	li {
		display: block;
		padding: 3px 0;

		a {
			display: inline-block;
			font-size: 20px;
			color: $coBlue;
		}
	}
}


.header-hamburger {
	display: none;
	float: right;
	position: relative;
	cursor: pointer;
	z-index: 101;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background-color: transparent;
	margin: 20px 0;
	right:0; 
	@include transition(all, 0.4s, cubic-bezier(0.645, 0.045, 0.355, 1));
}

.header-hamburger span, .header-hamburger span:after, .header-hamburger span:before {
	content: '';
	cursor: pointer;
	height: 3px;
	width: 25px;
	background: $coBlue;
	position: absolute;
	display: block;
	@include transition(all, 0.2s, ease-in-out);
	@include transform(rotate(0deg));
}

.header-hamburger span {
	  right: 0px;
	  top: 12px;
}

.header-hamburger span:before {
  	top: -7px;
}

.header-hamburger span:after {
  	top: 7px;
}

.header-hamburger.active span {
  	background: transparent !important;
}

.header-hamburger.active span:before, .header-hamburger.active span:after {
  	top: 0;
}

.header-hamburger.active span:before {
  	@include transform(rotate(45deg));
}

.header-hamburger.active span:after {
 	@include transform(rotate(-45deg));
}

@media only screen and (max-width: 1200px) {

	.enjoy-discount {
		.container {
			position: static;
		}
	}

	.dis-model {
		margin-right: 0;
	}

	.owl-controls {

		.owl-dots {
			.owl-dot {
				display: inline-block;
			}
		}

	}

	.pay-bill-info {
		margin-top: 0;
	}

	.wing-ket-img {
		padding-right: 15px;
	}

	body, html {
		min-width: 320px;
	}

}

@media only screen and (max-width: 1025px) {

	.sec-title {
		font-size: 46px;
		line-height: 54px;
	}

	.container {
		width: auto;
		max-width: 100%;
	}

	.enjoy-discount {

		.ed-text {
			padding-right: 155px;
			padding-left: 30px;
		}
	}


}

@media only screen and (min-width: 992px) {
	.menu {
		display: block !important;
	}
}


@media only screen and (max-width: 991px) {

	.banner-wrap {

		h1 {
			font-size: 40px;
			line-height: 62px;
		}
	}

	.menu {
		top: 62px;
		position: fixed;
		height: 100%;
		width: 100%;
		left: 0;
		overflow: auto;
		background: rgba($coWhite, 0.9);
		text-align: center;
		z-index: 999;
		display: none;

		ul {
			padding-top: 30px;

			li {
				display: block;
				float: none;
				clear: both;
				padding: 15px 0px 15px 15px;
				opacity: 0;
				@include transition(all, 0.2s, cubic-bezier(0.645, 0.045, 0.355, 1));
				@include transform(translateY(-40px) scale(0.9));
				font-size: 24px;

				&:before {
					display: none;
				}

				&.is-open {
					@include transform(translateY(0px) scale(1));
					opacity: 1;
				}

				a {
					padding: 0;
				}
			}
		}

	}

	.header-hamburger {
		display: block;
	}

	header {
		.logo {
			display: inline-block;
			padding: 8px 0;

			img {
				width: 80px;
			}
		}
	}

	.wing-benifits-img { 
		width: 120px;
		height: 120px;
	}

	.wing-benifits-info {
		padding: 0px 5px;

		h3 {

			font-size: 26px;
			line-height: 34px;

			br {
				display: none;
			}
		}
	}

	.pay-bills {
		min-height: 550px;
		background-size: 90% auto;
	}

	.enjoy-discount {

		.ed-text {
			padding-right: 290px;
		}
	}

	.dis-model {
		width: 37%;
	}

	.enjoy-discount .container {
		padding: 40px 0;
	}

	.wing-mobile-menu ul li a {
		font-size: 18px;
	}

	.wing-benifits ul {
		padding-top: 30px;
	}

	.store-partners {
		padding-bottom: 0;
	}

	.share-this-wrap {


		label {
			font-size: 24px;
		}

		a {
			width: 53px;
    		height: 53px;
    		line-height: 53px;
		}
	}

	.email-link {
		font-size: 16px;
	}

	/*** Thank You Page ***/
	.other-stuff {


		.stuff-wrap {

			.left, .right {
				width: 100%;
				float: none;
				clear: both;
				padding: 0px 0px 16px;
			}
		}

		.middle-user {
			border-right: 0;
			border-left: 0;
		}
	}

	.features  {
		

		.feature-tag {
			padding-right: 0;
		}

		ul li {

			padding-left: 24px;

			a {
				font-size: 16px;
			}

			&:before {
				width: 19px;
				height: 17px;
				background-size: 17px auto;
			}
		}
	}

	.logo {
		display: none;
	}
}


@media only screen and (max-width: 767px) {

	.sec-title {
		font-size: 40px;
		line-height: 48px;
	}

	.share-this-wrap {
		text-align: center;
	}

	.footer-bottom {

		.text-right {
			text-align: center;
		}
	}

	.wing-form-wrap {

		.required-tooltip {
			display: none;
		}
	}

	.footer-bottom {
		padding: 10px 0;
	}

	.ty-text {

		h2 {
			font-size: 40px;
			line-height: 48px;

			br {
				display: none;
			}
		}
	}

	.logo {
		img {

			width: 100px;
			height: auto;
		}
	}

	.wing-form-wrap {
		max-width: 100%;
		margin: 0 auto 40px;
		position: relative;
		top: 0 !important;
		right: 0;
		padding: 15px;
	}

	.banner-wrap {
		height: 450px;

		.parallax-window {
			height: 450px;
		}
	}

	.features {
		padding-top: 0;
	}

	.features {

		.container {
			padding: 0;
		}

		.row {
			margin: 0;
		}
	}

	.wing-benifits ul li {
		width: 48%;
	}

	.wing-account {

		&.section-pad {
			padding-top: 20px;
		}
	}

	.dis-model {
		display: none;
	}

	.enjoy-discount .ed-text {
		padding-right: 30px;
	}

	.wing-ket-img {
		width: 100%;
	    float: none;
	    clear: both;
	    text-align: center;
	    margin-bottom: 30px;
	}

	.wing-ket-info {
		float: none;
		clear: both;
		text-align: center;
	}

	.wm-content-text {
		margin-bottom: 30px;
	}

	.footer-top {
		text-align: center;
	}

	.enjoy-discount .container {
		padding: 20px 0;
	}

	.pay-online-partners {
		padding: 30px 0 20px;
	}

	
}

@media only screen and (max-width: 640px) {

	body {
		font-size: 14px;
		line-height: 22px;
	}

	.banner-wrap {
		height: 313px;

		.parallax-window {
			height: 100%;
		}

		h1 {
			font-size: 28px;
			line-height: 42px;
			margin-top: 115px;

			span {
				line-height: 38px;
			}
		}
	}

	.features ul li {
		width: 100%;
	}

	.wing-mobile-menu {
		margin-right: -15px;
		margin-left: -15px;

		ul li {
			a {
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	
	.other-stuff { 
		.col-xs-6 {
			width: 100%;
		}

		.stuff-wrap {

			.left, .right {
				text-align: center;
			}

			.btn {
				float: none;
				clear: both;
			}
		}
	}

	.pay-bills {
		min-height: 450px;
	}

	.sec-title {
		font-size: 28px;
		line-height: 36px;
		margin-bottom: 15px;
	}

	.sec-tagline {
		padding: 0px;
	}

	.enjoy-discount h2 {
		margin-bottom: 10px;
	}


	.middle-user {
		margin: 15px 0;
	}

	.section-pad {
		padding: 20px 0;
	}

	.final-step-form .input-wrap {
		margin-bottom: 10px;
	}

	.ty-text {
		padding-top: 15px;
	}

	.apply-now-sec {
		padding-bottom: 0;
	}

	.signup-fb .fa {
		padding: 0 10px 0 10px;
	}

	.features {
		padding-top: 0;
	}

	.wing-benifits ul li {
		width: 100%;
	}

	.wing-benifits-img {
		margin-bottom: 15px;
	}

	.wing-benifits-info h3 {
		margin-bottom: 10px;
	}

	.pay-online-partners ul li img {
		max-width: 75%;
	}


}










